@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-family: Inter, Arial, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.bg-base {
  background: radial-gradient(
    121.73% 121.49% at 100% -3.39%,
    #1f4247 0%,
    #0d1d23 56.18%,
    #09141a 100%
  );
}
